<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FluentAssertions" version="5.1.2" targetFramework="net462" />
  <package id="LightBDD.Core" version="2.3.5" targetFramework="net462" />
  <package id="LightBDD.Framework" version="2.3.5" targetFramework="net462" />
  <package id="LightBDD.NUnit" version="2.1.0" targetFramework="net462" />
  <package id="LightBDD.NUnit2" version="2.1.0.0" targetFramework="net462" />
  <package id="LightBDD.NUnit3" version="2.3.5" targetFramework="net462" />
  <package id="NUnit" version="3.9.0" targetFramework="net462" />
  <package id="NUnit3TestAdapter" version="3.9.0" targetFramework="net462" />
  <package id="System.ValueTuple" version="4.3.0" targetFramework="net462" />
</packages>